<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link href="_content/MyTemplate.UI/css/Bootstrap/bootstrap.min.css" rel="stylesheet">
        <Theme @rendermode="new InteractiveServerRenderMode(prerender: true)"/>
        <link href="_content/MyTemplate.UI/css/site.css" rel="stylesheet" />
        <link href="_content/MyTemplate.UI/MyTemplate.UI.bundle.scp.css" rel="stylesheet" />
        <link href="_content/MyTemplate.UI/favicon.png" rel="icon" type="image/png"/>
    <HeadOutlet @rendermode="InteractiveServer" />
    </head>

    <body>
        <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
        <script src="_framework/blazor.web.js"></script>
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
        <script src="https://kit.fontawesome.com/0fd29ff397.js" crossorigin="anonymous"></script>
    </body>

</html>
